<%- include("partials/header") -%>

  <h1> <%= postTitle %> </h1>
  <h5> <%= postContent %> </h5>

  <!-- back button -->
  <div class="w3-container w3-center">
    <div class="w3-container w3-bottom" style="height: 300px; width:85%;">
      <div class="w3-display-right">
        <div class="w3-margin w3-padding">
          <a href="/home">
            <div class="w3-btn w3-ripple w3-border w3-round w3-light-grey" style="border-radius:50px;">
              <p class="w3-large" style="color:#1abc9c">back to home</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


<%- include("partials/footer") -%>
